div .container{
  margin-top: 3%;
  width: 100%;
}
div .container .img{
  width: 100%;
  height: 70vh;
  background-image: url("../public/img1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
div .container .img .content{
  text-align: center;
  padding-top: 15%;
}
div .container .img .content .text{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  color: white;
}
div .container .img .content .btn{
  background-color: #e5f4e3;
}
div .container .img .content .btn:hover{
  background-color: #ca2c92;
  color: white;
}
div .nav{
  z-index: 9;
   padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: aquamarine;
}
.des{
  display: flex;
}
.body{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
}
.body .card{
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: black;
  color: white;
  width: 80%;
}
.body .card:hover{
  border-left: 5px solid #ca2c92;
  transition: 0.2s;
}
.modal .modal-dialog .modal-content{
  background-color: black;
}
.des .img{
  width: 20%;
  margin-left: 10%;
}
.navbar .container-fluid .navbar-collapse .form .btn{
  background-color:#e5f4e3; 
  color:black;
  border-radius: 30px;
}
.navbar .container-fluid .navbar-collapse .form .btn:hover{
  background-color: #ca2c92;
}


